<!DOCTYPE html>
  <html>
    <head>
      <title>Request Classifier</title>
    </head>
    <body>
      <p>
          <label>Text Area</label>

        <form action="{{ url_for('handle_data') }}" method="post">
          <input type="text" id="email_text" name="email_text" size="40" placeholder="Paste Text Here">
          <input type="submit">
        </form>
      </p>

      <h2>Request Sentences</h2>
        {{ r }}

      <h2>Model Output</h2>
  
        {% for i in range(0, len) %}
      <p>
        {{ pred[i]["sentence"] }}
      </p>
      <p>
        {{ pred[i]["label"]}}, {{pred[i]["certainty"]}}
      </p>
    <br>
    {%endfor%}

      <p>
          <label>List Appears Here</label>
          <textarea id = "myTextArea"
                  rows = "3"
                  cols = "80">Your text here!</textarea>
        </p>


      <!-- <script src="popup.js"></script> -->
    </body>
  </html>